extends base

block content
    div#videoContainer(data-id=video._id)
        video(src=video.fileUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControlsplayBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currenTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand
    div.video__data
        p.video__title=video.title
        div
            div.video__title-upProfile
                div.video__title-upProfile-left
                    a(href=`/users/${video.owner._id}`)
                                    if video.owner.avatarUrl === ""
                                        span 😀
                                    else
                                        img.uploader__avatar(src=video.owner.avatarUrl)
                    div.video__title-upProfile-info
                            small.video__owner
                                a(href=`/users/${video.owner._id}`)=video.owner.name
                            span 구독자 72.8만명
                            //- small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
                div.video__title-upProfile-edit
                    if String(video.owner._id) === String(loggedInUser._id)
                        a(href=`${video.id}/edit`) Edit Video
                        //- 오른쪽 화살표는 &rarr;
                        br
                        a(href=`${video.id}/delete`) Delete Video
    if loggedIn
        div.video__add-comments
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write a nice commment...")
                button Add comment
    div.video__comments
        ul
            each comment in comments.reverse()
                li.video__comment#videoComment(data-id=comment.id)
                    a(href=`/users/${comment.owner.id}`)
                                    if comment.owner.avatarUrl === ""
                                        span 😀
                                    else
                                        img.comment__avatar(src=comment.owner.avatarUrl)
                    div.video__comment-content
                        div.video__comment-content-uploader
                            span.comment__owner
                                a(href=`/users/${comment.owner._id}`)=comment.owner.name
                            span.comment__createdAt=new Date(comment.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
                        div.video__comment-content-detail
                            span #{comment.text}
                            if String(comment.owner._id) === String(loggedInUser._id)
                                span.video__comment__delete-btn X

block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js") 
    
    //- video(src="/" + video.fileUrl)  
    //- div
    //-     button#play Play
    //-     button#mute Mute
    //-     input(type="range",step="0.1", value=0.5, min="0", max="1")#volume

        div 
            span#currentTime 00:00
            span  / 
            span#totalTime 00:00
        div
            input(type="range",step="1", value="0", min="0")#timeline
            //- input(type="range", step="0.1", value="0.5", min="0", max="1")#timeline
            //- div 
            //-     button#fullScreen Enter Full Screen
        //-
            div
                p=video.description
                small=video.createdAt
            div
                small Uploaded by 
                    a(href=`/users/${video.owner._id}`)=video.owner.name
            if String(video.owner._id) === String(loggedInUser._id)
                a(href=`${video.id}/edit`) Edit Video &rarr;
                br
                a(href=`${video.id}/delete`) Delete Video &rarr;
